Babel==2.3.4
Django==1.9.4
GDAL==1.11.4
kartograph.py==0.6.8
lxml==3.6.0
numpy==1.10.4
polib==1.0.7
pyproj==1.9.5
pyshp==1.2.3
python-slugify==1.2.1
python-transifex==0.1.7
pytz==2016.4
requests==2.9.1
Shapely==1.5.13
tinycss==0.3
transifex-client==0.11
Unidecode==0.4.19
urllib3==1.15.1