{% load staticfiles %}
{% load my_tags %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{% block head_title %}slepeMapy{% endblock head_title %}</title>

    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}" />
    <link rel="stylesheet" href="{% static "css/base.css" %}" />

    <style>
    {% block style %}{% endblock style %}
    </style>
</head>
<body>
    {% include "message_display.html" %}
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Slepe mapy
                </a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="{% active request "createshp" %}">
                    <a href="{% url "maps:createshp" %}">Pridej nový shapefile</a>
                  </li> 
                  <li class="{% active request "createsvg" %}">
                    <a href="{% url "maps:createsvg" %}">Vytvor svg</a>
                 </li>
                  <li class="{% active request "list" %}">
                    <a href="{% url "maps:svglist" %}">Prehled svg</a>
                  </li>
                </ul>
              </div>
            </div>
    </nav>

    {% block content %}{% endblock content %}
    </div>

    <script type="text/javascript" src="{% static "js/jquery-2.2.2.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "js/fileField.js" %}"></script>
    <script type="text/javascript" src="{% static "js/collapsePanel.js" %}"></script>
</body>
</html>