{% extends "base.html" %}   
{% block content %}
{% load static %}
{% static "" as baseUrl %}
        <div class="row">
            {% for obj in object_list %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail mapFinal">
                    <div class="mapFinalTile">
                        <h3 class="svg-final-title">{{ obj.name }}</h3>
                        <a href="{{ obj.get_absolute_url }}delete" class="close" type="button" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                    </div>
                    <a href="{{ obj.get_absolute_url }}" class="imageLink">
                        <img src="{{ baseUrl }}{{ obj.pathToFileSvg }}" alt="{{ obj.name }}" class="svg-final-image"/>
                        <i class="fa fa-eye mapsDetail" aria-hidden="true"></i>
                    </a>
                    <div class="row mapFinalButton">
                  <!--  <div class="col-sm-6 add">
                            <a class="btn btn-default btn-block" href="{{ obj.get_absolute_url }}addLayer" role="button">pridat vrstvu</a>   
                        </div> -->
                         <div class="col-sm-6 add dropdown">
                          <a class="btn btn-default btn-block">pridat vrstvu</a>
                          <div class="dropdown-content col-xs-12">
                            <a href="{{ obj.get_absolute_url }}addLayer">Nový konfig</a>
                            <a href="{{ obj.get_absolute_url }}addLayer/config">Vybrat konfig</a>
                          </div>
                        </div>
                        <div class="col-sm-6 remove">
                            <a class="btn btn-default btn-block" href="{{ obj.get_absolute_url }}removeLayer" role="button">odebrat vrstvu</a> 
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>    
        
{% endblock content %}