{% extends "detail_base.html" %}
{% block detail %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="row">
                                <div class="col-md-12">
                                    Vrstvy:
                                    <div class="btn-group" data-toggle="buttons">
                                        {% for l in layers %}
                                        <label class="btn btn-primary svgLayersButton" id="{{ l.idLayer }}">
                                            <input type="checkbox">{{ l.name }}
                                        </label>             
                                        {% endfor %}
                                        <label class="btn btn-primary" id="delete">
                                            Vymaz
                                        </label>
                                    </div>
                                </div>
                            </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div id="map" class="row"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="thumbnail">
                                Nazev prvku:<span id="mapInfo" class="map-info-name"></span>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
<div id="mapPath" class="row hidden">
/static/{{ instance.pathToFileSvg }}    
</div>


{% endblock detail %}